*{
    margin: 0;
    padding: 0;
   box-sizing: content-box;
}
body{
   background-color: black;
   color: aliceblue;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
  
}
main{
    display: flex;
    flex-direction: column;
    background-color: lightgreen;
  
}
.top-bar{
    display: flex;
    flex-direction: row;
    background-color: lightblue;
   justify-content: space-between;
  align-items: center;
  color: rgb(253, 137, 28);
  font-size: 20px;
  text-transform: capitalize;
  font-weight: bolder;
  padding-top: 10px;
  padding-bottom: 10px;
}
.fav-itiems-continer{
    display: grid;
   grid-auto-flow: 
   column;
   gap: 16px;
  padding-top: 15px;
    background-color: rgb(206, 196, 196);
  
}

img{
    border-radius: 50%;
  width: 40px;
  
}
li{
    display: grid;
     min-width: 50px;
     min-height: 50px;
    list-style: none;
    background-color: aliceblue;
    place-content: center;
    border-radius: 30px;
   
  
    
}

.items-name{

 
  color: black; 
 display: grid;
 grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
 gap: 7px;
 padding: 7px;
 background-color: rgb(206, 196, 196);
 font-size: 10px;
 font-weight: bold;
 min-height: 20px;
}
.search-but-{
    display: flex;
   padding-right: 5px;
}
button{
   border: rgb(178, 165, 165);
   width: 27px;
  
}
input[type = "search"]{
   width: 60px;
   border: gray;
  border-radius: 3px;
}

.search-but{
  width:10px;
}
.three-lines-{
   
  width: 20px;
  padding: 7px;
}
.random-msg{
    background-color: rgb(112, 112, 165);
    padding: 10px;
    min-height: 50px ;
    /* border: 2px red solid; */
    display: flex;
    flex-direction: column;
    width:250px ;
    margin: auto;
    border-radius: 6px;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 0 0 10px rgb(80, 8, 8);

}
.ce-msg{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px rgb(167, 194, 183) solid;
   width: 150px;
   margin: auto;
   border-radius: 15px;
   padding: 10px;
   box-shadow: 2px 20px 100px rgb(203, 196, 156);
   background-color: rgba(235, 187, 187, 0.449);
   margin-top: 10px;
  height: 6px;
   
}
.msg-2{
  font-size: 10px;
  font-style: italic;
  line-height: 10px;
}
.reandon-pic{
  display: flex;
   margin: auto;
  color: black;
  border-radius: 20px;
  width: 300px;
 flex-direction: column;
 padding: 10px;
 background-color: rgb(255, 254, 254);
 box-shadow: 0 0 4px 3px rgba(137, 121, 121, 0.948);
 margin-top: 10px;
}
.meals{
  width: 100%;
  
  border-radius: 0%;
  height: 180px;
  position: relative;
  
  align-items: center;
  margin: auto;
}
.relative-{
  background-color: aliceblue;
  color: black;
  z-index: 100;
 margin-top: 10px;
  position: absolute;
  padding: 2px;
  margin-left: 7px;
}
.w-h{
  display: flex;
  justify-content: space-between;
}
.heart{
  width: 40px;
 
}
 img.heart-1{
  width: 50%;
}
.heart-1:active{
  background-color: rgb(184, 3, 3);
}


