*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   background-color: blueviolet;
   font-size:1.8rem;
   color: antiquewhite;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
    margin: 0;
    text-transform: uppercase;
   
   
}
/* .title{
    display: flex;
    justify-content: center;
    align-items: center;
} */
/* .day{
    display: flex;
    justify-content: center;
} */
main{
 display: flex;
 flex-direction: column;
 justify-content:start;
 align-items: center;
/*   line-height: 4.8rem; */
  border: red 3px solid;
  min-width: 320px;
  min-height: 100vh;
 
}

.countdowns-continer{
    display: flex;
   
    justify-content: space-between;
   
   /*  border: darkgreen 3px solid; */
   line-height: 10rem;
    color: black;
    font-size: 8rem;
    width: 300px;
    
}
