
:root{
 --color--:#088178;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    /* background: #1a1a1a;
    color: white; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    box-shadow: inset 0 5px 15px rgb(0 0 0 / 13%);;
    background: #e3e6f3;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
}
.icon{
    width:25px;
    display: block;
}


.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
   

}
.navbar li{
    list-style: none;
    padding: 0 20px ;

}
.a-link li a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    color: #1a1a1a;
    text-transform: capitalize;
    transition: 0.35s ease;
}

.a-link li a:hover{
    color: #088178;
   

}

.a-link li{
    position: relative;
}
.a-link li .active{
    color: #088178;
}

.a-link li a:hover::after,.a-link li .active::after{

    width: 30%;
    height: 2px;
    content:" " ;
    position: absolute;
    bottom: 0;
    display: block;
    background: #088178;
    margin-top: 10px;
   
}

button.normal{
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;

}

button.white{
    text-transform: capitalize;
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background: transparent;

    cursor: pointer;
    border: 2px solid #fff;
    outline: none;
    transition: 0.2s;

}


.hero{
 
    height: 90vh;
    width: 100%;
    background-image:url(./img-2/hero4.png) ;
    background-position: top 15% right 0;
    background-size:cover;
    padding: 0 80px;
    display: flex;
    align-items:center;
    justify-content:flex-start;
    margin-top: 5rem;

}


.contant{

    display: flex;
    flex-direction: column;
    text-transform: capitalize;
    gap: 10px;
    align-items: flex-start;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
}
.contant .h1{
    color: #088178;
}

.contant button{
    background-image: url(./img-2/button.png);
    background-color: transparent;
     color: #088178;
     border: 0;
     padding: 14px 80px 14px 65px;
     background-repeat: no-repeat;
     cursor: pointer;
     font-weight: 700;
     font-size: 15px;
}

a{
    display: block;
}

.section{
    padding: 40px 65px;
}

.fea-items .f-item {
    text-decoration: none;
    color: #1a1a1a;
    /* width: 160px; */
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0,0,0,0.0);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
    cursor: pointer;
}

.grid{
    display: grid;
}
.fea-items{
  
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    grid-template-columns: repeat(6,1fr);
    gap: 10px;
    text-transform: capitalize;
    align-items: center;
    justify-content: space-between;

    
}

.fea-items .f-item:hover{
   box-shadow : 6px 4px 18px rgb(0 0 0 / 33%);
}
.fea-items .f-item img{
    width: 100%;
    margin-bottom: 10px;
}

.f-item h6{
    padding: 9px 8px 6px 8px;
    color: #088178;
    font-size: 1rem;
    line-height: 1;
    border-radius: 4px;
    background: #fddde4;
    display: inline-block;
}

.f-item:first-child h6{
   background: #cdebbc;
}
.f-item:nth-child(2) h6{
    background:#d1e8f2;
}
.f-item:nth-child(3) h6{
    background: #cdd4f8;
}
.f-item:nth-child(4) h6{
    background: #f6dbf6;
}
.f-item:nth-child(5) h6{
    background: #fff2e5;
}

.product{
    text-align: center;
}

.pro .pro-item{
    text-decoration: none;
    color: #1a1a1a;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.03);
    margin: 15px 0;
    transition: 0.2s ease;
    border: 1px solid #cce7d0;
    padding: 15px;
}

.pro-item img{
    width: 100%;
    /* height: 12rem; */
    border-radius: 20px;
}
.pro .pro-item:hover{
    box-shadow:  20px 20px 30px rgb(0 0 0 / 10%);;
}
.pro-item .desc{
    text-align: start;
    padding: 10px 0;
    text-transform: capitalize;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.pro-item .desc span{
  color: #3a3838be;
  font-size: 12px;

  
}
.pro-item .desc .p-ic{
    display: flex;
    justify-content: space-between;
}
.pro-item .desc .p-ic img{
    width: 20px;
    height: 20px;
}
.pro-item .desc h5{
  padding: 7px;
  color: #1a1a1a;
  font-size: 14px;
}
.pro-item .desc .star span {
    font-size: 15px;
    
}
.pro-item .desc .p-ic h4{
    padding: 7px ;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}
.pro-item .desc .p-ic span {
    width: 22px;
    height: 22px;
    border-radius: 21px;
    line-height: 36px;
    background: #cafdfaed;
    text-align: center;

}

.product h2{
    font-size: 1.5rem;
    text-transform: capitalize;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.product p{
    color: rgba(8, 8, 8, 0.487);
    text-transform: capitalize;
    padding: 1.2rem 0;
    margin-bottom: 10px
}

.lg-grid{
grid-template-columns: repeat(4,1fr);
column-gap: 10px;
padding: 10px 1rem;
}


.section-mar{
    margin: 40px 0;
}

.baner{

    text-align: center;
    background-image: url(./img-2/b2.jpg);
    background-position:center ;
    background-size: cover;
    height: 40vh;
    width: 100%;

}

.baner .desc-ban{
    color: #fff2e5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    font-size: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: capitalize;
}

.baner .desc-ban h4{
 font-size: 30px;

}
.baner .desc-ban span{
    color: #ef3636;
}

.baner .desc-ban button:hover,.ban-one .ban-desc button:hover{
    color: #fff;
    background: #088178;
}

.ban-one{
    position: relative;
}
.ban-desc{
    align-items: baseline;
    flex-direction: column;
    display: flex;
    top: 4rem;
    position: absolute;
    text-transform: capitalize;
    padding-left: 10px;
    gap: 5px;
    justify-content: flex-start;
    font-family: emoji;
}
.ban-one .img-relay img{
    width: 100%;
    height: 15rem;
    object-fit: cover;
}

.ban-one .img-relay2 img{
    width: 100%;
    height: 10rem;
    object-fit: cover;
}

.sm-banner .banner-box{
  grid-template-columns:repeat(2,1fr)
   ;
   column-gap: 15px;
   cursor: pointer;
}
.sm-banner2.section{
    padding:0  65px;
    padding-bottom:40px;
}
.ban-one .ban-desc h4{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}

.ban-one .ban-desc h2{
    color: #fff;
    font-size: 28px;
    font-weight: 800;
}

.ban-one .ban-desc span{
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 10px;
}

.banner-box .ban-one:hover .ban-desc button{
    background-color:#088178;
    color: #fff;
    border: none;
   
}

.banner-box2{
  
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
}

.banner-box2 .ban-one .ban-desc{
    text-transform: uppercase;
    gap: 15px;
    font-family: monospace;
}
.banner-box2 .ban-one .ban-desc h2{
    color:#fff;
    font-weight: 900;
    font-size: 20px;
    
}

.banner-box2 .ban-one .ban-desc h3{
    color: #ef3636;
    font-weight: 800;
    font-size: 15px;
}
.newsletter{
  
    width: 100%;
    background-image: url(./img-2/b14.png);
    background-position: 20% 30%;
    background-repeat: no-repeat;
  background-color: #060325;
  

}
.newsletter .news-con{

    color: #fff;
    text-transform: capitalize;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-items: flex-end;
    gap: 20px;
}

.newsletter .news-con .newstext{
    display: flex;
    flex-direction: column;
    gap: 15px;
  
}
.newsletter .news-con .newstext h4{
    font-size: 22px;
   font-weight: 700;

}
.newsletter .news-con .newstext p{
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
}
.newsletter .news-con .newstext span{
    color: #ffbd27;
}
.news-con .email-box {
    display: flex;
    gap: 2px;
    width: 80%;
}

.news-con .email-box input{
    height: 3.125rem;
    padding: 0 1.25rem;
    font-size: 14px;
    width: 100%;
    border: 1px  solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

}
.news-con .email-box button{
    background: #088178;
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    
}

.footer-con{
    /* grid-auto-flow: column; */
    grid-template-columns: repeat(4,1fr);
    text-transform: capitalize;
    gap: 10px;
}

.col{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.col img{
    padding: 10px 0;
}
.col .can-desc{
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* font-size: 15px; */
}
.col .can-desc p{
    color: #818ea0;
}

.col .can-desc p strong{
    font-weight: 800;

}
.col .can-desc h4{
    padding: 20px 0;
}
.col .follow{
   padding: 30px 0;
   /* display: flex;
   flex-direction: column;
   gap: 15px; */
   /* padding-bottom: 1; */
   
}

.col .icon-social-con{
    display: flex;
    gap: 10px;
    font-weight: 20px;
}
.col .follow h4{
    font-size: 18px;
    padding-bottom: 10px;
}

.footer-con .col-2{
    padding: 0 30px;

}

.footer-con .col-2 h4{
    padding-bottom: 15px;
}
.footer-con .col-2 .ab-desc a{
  text-decoration: none;
  color: #818ea0;
}
.footer-con .col-2 .ab-desc,.footer-con .col-3 .acc-desc{

    display: flex;
    flex-direction: column;
    gap: 10px;

}

.col h4 ,.col-2 h4 , .col-3 h4,.col-4 h4{
    font-size: 20px;
}

.footer-con .col-3{
    padding: 0 20px;
}
.footer-con .col-3 h4{
    padding-bottom: 15px;
}
.footer-con .col-3 a,.footer-con .col-4 a{
    color: #818ea0;
    text-decoration: none;
    font-size: 18px;

}
.footer-con .col-4{
    display: flex;
    flex-direction: column;
    align-items:baseline;
    gap: 10px;
  
}


.footer-con .col-4 p {
    padding: 20px 0;
     color: #818ea0;
}

.footer-con .col-4 .row-app-sc{
    display: flex;
    gap: 5px;
     
    

}
.footer-con .col-4 .row-app-sc img {
    /* padding:  10px; */
    border: 1px solid black;
    border-radius: 5px;
}
.icon-fo{
    width: 150px;
}






.copyright{
    text-align: center;
    color: #818ea0;
    font-size: 18px;
    text-transform: capitalize;
}

/*  */
.header .mobile{
 display: none;

}


/* shop */

.blog-con{
    row-gap: 30px;
}

.shop-header{
 
    background-image: url(./img-2/b1.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 40vh;
    background-size: cover;
    display:flex ;
    align-items: center;
 justify-content: center;
 flex-direction: column;
 padding: 14px;
 margin-top: 10vh;
    
}

 .shop-contant h1,.shop-contant p{
   color: #fff;
}
.pagination{
 text-align: center;
}
.pagination a{
    display: inline;
    text-decoration: none;
    background: #088178;
    padding: 15px 20px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
}

.prodetails.section{
 padding-top: 7rem 20px;
} 
.single-pro-d-con{
    
    grid-template-columns:  repeat(2,1fr);
   column-gap: 20px;
   /* align-items: center;
   justify-content: center; */
   padding-top: 7rem;
}
.single-pro-d-con  .single-pro-img-con{

  row-gap: 1px;
}
.small-img-con{
    display: grid;
    grid-template-columns:repeat(4,1fr) ;
    column-gap:5px ;
    cursor: pointer;
 
}


:is(.order-details-co ), h3,h2 ,h1{
 text-transform: capitalize;
 padding-bottom: 20px;



}

.order-details-con h2{
    font-size: 1rem;
}

.order-details-con h3{
    padding-top: 30px;
    font-size: 14px;
}

.sixe-add-con {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
select {
    width: 150px;
    border: 2px solid;
    padding: 10px;
    font-size: 1.2rem;
    text-transform: capitalize;
    border-radius: 5px;
    cursor: pointer;
}

 
  

.order-details-con .sixe-add-con button {
    padding: 20px 2px;
    width:150px;
    background: green;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: capitalize;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgb(148, 147, 147);
    cursor: pointer;
}

input[type="number"]{
    display: block;
    width: 50px;
    padding: 10px;
    border: 1px solid;
    margin: 20px 0;
    cursor: pointer;

}

.shop-header.blog-header{
 
    background-image: url(./img-2/b19.jpg);
    margin-bottom: 40px;
  
}
.blog-img-contant-box .img-con img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
:is(.blog-details) h4 , p{
    text-transform: capitalize;
}
.blog-img-contant-box .blog-details p{
   
        font-size: 2rem;
        padding: 23px 0;
    
}
.blog-img-contant-box .blog-details a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: black;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
    transition: 0.3s ;
}

.blog-img-contant-box .blog-details a::after{
    content: "";
    position: absolute;
    width: 50px;
    height:1px ;
    background: #000;
    top: 8px;
    left: 10rem;



}

.blog-img-contant-box .blog-details a:hover{
    color: #088178;

    
}
.blog-img-contant-box .blog-details a:hover::after{
    color:#088178;
}

.blog-img-contant-box  h1{
    position: absolute;
    top: -12px;
    left: 131px;
    font-size: 3rem;
    z-index: -1;
    color: #d1c6c6;
 
    padding: 0 10px;
}
.img-con{
    text-align: center;
}

    .blog-con .blog-img-contant-box {
        align-items: center;
        justify-content: center;
        grid-template-columns: repeat(2,40%);
        position: relative;
        padding-top: 28px;
        column-gap: 10px;
    }

.shop-header.about-header{
    background-image: url("./img-2/banner.png");

}
.about-pare .about-cont{
    grid-template-columns: repeat(2,1fr);
    column-gap: 20px;
    align-items: center;
}
.about-cont .about-img-con img{
    width: 100%;
}
.about-cont .about-desc{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.about-video-con video{
    width: 100%;
    border-radius: 20px;

}
.about-video-con{
    width: 65%;
    height: 100%;
    margin: 20px auto 0 auto;
}
.about-video-con h2{
    text-align: center;
    font-size: 2rem;
}
.about-video-con h2 a{
    display: inline;
}


.mobile{
    cursor: pointer;
}

.close-con{
    display: none;
    cursor: pointer;
}
.mobile img{
    width: 25px;
}