/* 
mobile screen = 300px to 640px
tablet = 768 to 1024 or 1280 to 800 px
desktop = 1930 t0 1080 

*/
/*  */

/* applay 700 to 999 */

 @media screen and (max-width:799px) {
    
    .nav .navbar{
        flex-direction:column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: 0;
        width: 300px;
        background: #e3e6f3;
        box-shadow: 0 40px 60px rgba(0,0,0,0.1);
        padding: 80px 00 10px;
        height: 100vh;
        display: none;
       transition: 0.3s;
    }
    .navbar li{
        margin-bottom: 25px;
    }
    .mobile .order-icon{
        width: 27px;
    }
    .header .mobile{
        /* display: block; */
        display: flex;
        gap:25px;
    }
    .navbar .hide{
        display: none;
    }

      
      .sm-banner{

      }

    
    .sm-banner2.section {
        padding: 0  40px;
        padding-bottom: 40px;
    }
    .banner-box2 {
        grid-template-columns: repeat(3,1fr);
        gap: 20px;
    }
    .navbar{
        position: relative;
    }

    .newsletter .news-con {
       
        grid-template-columns: repeat(1,1fr);
        align-items: baseline;
        justify-items: flex-start;
        gap: 30px;
    }

    .navbar .close-con{
        display: initial;
        top: 1rem;
        position: absolute;
        /* background: red; */
        text-align: center;
        width: 50px;
        height: 50px;
    }
    .close{
        position: relative;
    }

    .navbar .close::after,.navbar .close::before{
        content: " ";
        width: 22px;
        height: 3px;
        background: #000;
        position: absolute;
        left: 15px;
        top: 20px;
    }
    .navbar .close::after{
        top: 20px;
        transform: rotate(43deg);
    }

   .navbar .close::before{
       transform: rotate(310deg);
    }

    .navbar.active{
        display: block;
    }

    .hero{
        background-position: top 15% right 30%;
        padding: 0 20px;
    }
    .header{
        padding: 20px 10px;
    }
       
   
}

/* 300 to 500 */

@media screen and (max-width:999px){
    
    .header{
        padding: 20px 30px ;
    }

    .hero{
        padding: 0 20px;
        background-position: 72%;
      margin-top: 4rem;
    }
    h2{
        font-size: 32px;
    }
    h1{
        font-size: 38px;
    }

    .baner {
      
        height: 20vh;
       
     
    }

    .baner h2{
        font-size: 15px;
    }
    
    .fea.section{
        padding: 20px  6rem;
    }
    .fea-items{
        padding: 0;
        grid-template-columns: repeat(3,1fr);
        gap: 10px 15px;
    
    }

    .footer.section{
        padding: 20px 0;
    }

    .footer-con{
        grid-template-columns: repeat(2,1fr);
        gap: 20px;

    }

    .col {
       grid-column: 1/2;
       padding: 0 10px;
    }

    .footer-con .col-4{
        padding-left:10px;
    }
    .footer-con .col-2 ,.footer-con .col-3 {
        padding: 0 10px;
    }

    .product.section{
        padding: 20px 40px;
    }
    
        .lg-grid {
            grid-template-rows: repeat(2,1fr);
            align-items: center;
            padding: 10px 0;
            gap: 10px;
            justify-content: center;
            grid-template-columns: repeat(2,1fr);
        }
    
    .newsletter .news-con{
    grid-auto-flow: column;
    }
    .news-con .email-box{
        width: 100%;
    }
    .sm-banner.section{
        padding: 0 10px;
    }
    .sm-banner2.section {
        padding: 20px  20px;
        /* padding-bottom: 40px; */
    }

    .banner-box2 {
        grid-template-rows: repeat(1,1fr);
        gap: 10px;
    }

    .footer-con .col-4 .row-app-sc {
        display: flex;
        flex-direction: row;
        gap: 5px;
        flex-wrap: wrap;
    }
    .copyright {
        text-align: start;
        color: #818ea0;
        font-size: 18px;
        text-transform: capitalize;
        padding-top: 18px;
        padding-right: 8px;
    }
    .prodetails.section{
        padding: 7rem 30px;
    }
}

/* 350px */

@media screen and (min-width:300px) and (max-width:699px){
     
    
    .pro .pro-item {
        padding: 8px;
    }

    .pro-item img {
        border-radius: 10px;
    }
    .pro-item .desc h5{
        font-size: 15px;
        font-stretch: condensed;
        font-weight: 100;

        padding: 0;
    }
    .pro-con .pro{
        padding: 0;
    }
    
    .fea.section{
        padding: 20px 15%;
    }
     .fea-items{
        grid-template-columns: repeat(2,45%);
        overflow: hidden;
     }
     .lg-grid{
        grid-template-columns: repeat(2,1fr);
    }
    .product.section{
        padding: 10px 20px;
    }
    .baner{
        height: 30vh;
    }
    .sm-banner .banner-box{
        grid-template-columns: repeat(1,1fr);
    }
   .sm-banner.section{
    padding: 0;
   }
   .sm-banner2.section{
    padding: 20px 20px;
   }

    .ban-one .img-relay2 img {
    
        height: 15rem;
    
    }

   .sm-banner2 .banner-box2{
    grid-template-columns: repeat(1,1fr);
   }
    .newsletter.section{
        padding: 30px 10px;
    }
    .newsletter .news-con{
        grid-template-rows: repeat(2,1fr);
    }
   .news-con .email-box{
    width: 100%;
   }


    .footer-con{
        
        grid-template-columns: repeat(1,1fr);
        margin-bottom: 10px;
    }
    .col{
        grid-column: 1/2;
    }
    .footer-con .col-2, .col-3, .col-4{
        padding: 0;
    }
    .footer-con .col-3{
        padding: 0;
    }
  

    .col-4 .row-app-sc{
        flex-direction: column;
    }

    /* smaill device */

    .prodetails .single-pro-d-con{
    
        grid-template-rows:  repeat(1,1fr);
        grid-template-columns: none;
       row-gap: 20px;
    }
  
     .blog-con{
        padding: 0 20px;
     }
    .blog-con .blog-img-contant-box {
     grid-template-columns: none;
        grid-template-rows: repeat(2,1fr);
      
    }

    .prodetails.section{
        padding-top: 1rem 20px;
    }

    .blog-img-contant-box  h1 {
        top: -8px;
        left: -11px;
       
    }
    .about-pare.section {
        padding: 40px 20px;
    }
    .about-pare .about-cont {
        /* grid-template-rows: repeat(1,1fr); */
        grid-template-columns: none;
        row-gap: 20px;
       
    }

    .about-video-con {
        width: 90%;
    }
    


}

@media screen and (max-width:300px){
    .header {
        padding: 10px 20px;
    }
    .fea-items{
        grid-template-columns: repeat(2,1fr);
    }
    .lg-grid{
        padding: 0;
        grid-template-columns: repeat(1,1fr);
    }
    .footer-con{
        grid-template-rows: repeat(4,1fr);
        grid-template-columns: none;
    }
   
    .sm-banner2 .banner-box2{
        grid-template-columns: repeat(1,1fr);
    }
    .goog-pay{
        width: 35px;
    }
    .hero .contant {
        word-break: break-all;
    }
    .hero .contant h1{
        font-size: 18px;
    }
    .fea.section {
        padding: 10px 20%;
    }
    .hero{
        margin-top:4rem ;
        padding-top: 20px;
    }
    .desc-ban h2{
        font-size: smaller;
    }

    .product.section {
        padding: 20px 18px;
    }

    .newsletter .news-con {
        grid-auto-flow: row;
    }
    .col .img-con img{
        width: 50px;
    }
    
    .footer-con .col-4 .row-app-sc {
        display: flex;
        flex-direction: column;
        gap: 5px;
        flex-wrap: wrap;
    }
    .newsletter.section{
        padding: 10px;
    }
    .newsletter .p{
        font-size: 14px;
    }
    .newsletter .email-box{
        flex-direction: column;
    }

    .sm-banner .banner-box {
        grid-template-rows: repeat(2,1fr);
        grid-template-columns: none;
        column-gap: 0;
        row-gap: 15px;
        cursor: pointer;
    }

    .single-pro-d-con {
        grid-template-columns: none;
        grid-template-rows: repeat(1,1fr);
        row-gap: 20px;
        padding-top: 1rem;
    }

    .blog-con .blog-img-contant-box {
       
        grid-template-columns: none;
        grid-template-rows: repeat(6,1fr);
        column-gap: 0;
        row-gap: 20px;
    }
}
